html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: inline-block;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

form * {
    display: block;
    width: auto;
}

form input {
    margin-bottom: 0.5em;
    border-radius: 3px;
    border: black 1px solid;
}

form label, form input[type="submit"] {
    user-select: none;
}

.error {
    color: red;
}

.success {
    color: green;
}

.center, .flex{
    display: flex;
    flex-flow: row nowrap;
}

.center {
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.full-h {
    min-height: 100vh;
}

.elephant {
    animation-name: running;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes running {
    0% {
        transform: translateX(60vw);
    }
    40%{
        transform: translate(0);
    }
    /*42% {
        transform: rotate(0) translateY(0);
    }
    50% {
        transform: rotate(180deg) translateY(10px);
    }
    57% {
        transform: rotate(360deg) translateY(0);
    } */
    60% {
        transform: translate(0);
    }
    100% {
        transform: translate(-60vw);
    }
}