html * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: inline-block;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

form * {
    display: block;
    width: auto;
}

form input {
    margin-bottom: 0.5em;
    border-radius: 3px;
    border: black 1px solid;
}

form label, form input[type="submit"] {
    user-select: none;
}

.error {
    color: red;
}

.success {
    color: green;
}

.center, .flex{
    display: flex;
    flex-flow: row nowrap;
}

.center {
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.full-h {
    min-height: 100vh;
}
